
.Snake {
  background-color: forestgreen;
  width: 20rem;
  height: 20rem;
}

.fruta {
  position: fixed;
  width: 1rem;
  height: 1rem;
  background-color: red;
  border: 1px solid greenyellow;
}

.serpenteCorpo {
  position: fixed;
  width: 1rem;
  height: 1rem;
  background-color: rgb(71, 88, 49);
  border: 1px solid aliceblue;
}

#reiniciar {
  position: absolute;
  top: 21rem;
  left: 8rem;
}

#score {
  color: aliceblue
}